/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/public/**/*.map
/public/mix-manifest.json
/public/fonts
/storage/*.key
/storage/clockwork
/vendor
.env
.env.*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
.npmrc
yarn-error.log
composer.phar
laravel-echo-server.lock
laravel-echo-server.json
/.idea
/.vscode
