// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap-dark-5/scss/bootstrap-blackbox';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~flag-icons/sass/flag-icons";

html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#app {
    min-height: 100%;
}

main {
    min-height: 400px;
}

.overflow-y-auto {
    overflow-y: auto;
}